@import 'node_modules/bulma/bulma.sass';

.hero-bg {
  @extend .hero;
  background-image: url('https://images.contentful.com/hirwil4yo3yo/6R0gRlW8Rae8o0UQi8gEUc/63e7f7cc50069e3de4672793ba985c82/pizza-places-in-mumbai.jpg');
  background-size: cover;
}

.item {
  height: 100%;
  display: flex;
  flex-flow: column; //nowrap;
}

.item .card-footer {
  margin-top: auto;
}